body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.andere-maand{
    background-color: lightgrey;
    color: gray;
}
:first-child, :last-child{
    background-color: rgb(255, 220, 220);
}
.feestdag{
    background-color: rgb(250,120,120);
}
.maand{
    background-color: rgb(170,170,200);
}
.dagen{
    color: rgb(200,190,240);
    background-color: rgb(35,37,70);
}
