body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    border-collapse: collapse;
    margin: 20px auto;
}
th,td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: left;
    vertical-align: top;
    padding: 5px;

}

.andere-maand{
    background-color: lightgrey;
    color: gray;
}
tbody td:first-child, tbody td:last-child{
    background-color: rgb(255, 220, 220);
}
.feestdag{
    background-color: rgb(250,120,120);
}
th.maand{
    background-color: rgb(170,170,200);
    text-align: center;
    font-size: 1.5em;
    vertical-align: middle;
}
th.dagen{
    color: rgb(200,190,240);
    background-color: rgb(35,37,70);
    text-align: center;
    height: auto;
    padding: 5px;
}
.onderlijnd{
    text-decoration: underline;
    color: blue;
}
