body{
    margin: 0 10px;
    padding: 0;
    font-size: 1.25em;
}
.article{
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: lightgrey;
    overflow: auto;

}
.article:nth-of-type(odd) img{
    float: left;
    margin-right: 10px;
    
}
.article:nth-of-type(even){
    float: right;
    margin-left: 10px;
}