body {
    font-family: Verdana, sans-serif;
    background-color: silver;
    font-size: 1.1em;
    color: darkblue;
}
header h1{
    font-variant: small-caps    ;
    background-color: red;
}

 a:hover {
     border: 2px yellowgreen solid;
     padding: 2px;

}
 .stippeltjesrand{
     border: 1px dotted darkslategray;
 }