.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: palevioletred;
}

.block.block2{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rebeccapurple;
}

.block.block3{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: royalblue;
}
.block.block4{
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: cadetblue;
}

@media screen and (min-width: 772px){
    .block.block1{
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .block.block2{
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .block.block3{
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media screen and (min-width: 992px){
    .container{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:repeat(3, 1fr);
    }
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .block.block4{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}