body{
    font-family: arial, helvetica, sans-serif;
    width: 95%;
    text-align: center;
}

.top{
    height:200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: darkblue;

}
.bovenstetitel{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
}
.onderstetitel{
    font-size: 240%;
    font-weight: bold;
}
header img{
    right:250px;
    bottom:60px;
    position: absolute;
    z-index: 10;
}
.news{
    width: 25%;
    float: right;
    background-color:  #dddddd;
    border: 1px #999999 solid;

}
.news p{
    color: #666666;
    font-size: 90%;
    margin: 10px;
}
.news h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
.main{
    width: 75%;
    margin-right: 10px;
    float: left;
}
.main .introduction{
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;

}
.main .introduction span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
.main figure{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.main .gallery{
    background-color: #999999;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 20px;
}
.main .foto{
    float: left;
    background-color: #999999;
    padding: 10px;
    border: 1px #999999 dotted;
    margin-right: 20px;
    margin-bottom: 20px;
}
.main .foto img{
    width: 180px;
    height: 180px;
    display: block;
}

