*{
    box-sizing: border-box;
}
body{
    font-family: arial, helvetica, sans-serif;
    width: 95%;
    margin: 0 auto;
}

.top{
    height:200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: darkblue;
    overflow: hidden;

}
.bovenstetitel{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0;
}
.onderstetitel{
    font-size: 240%;
    font-weight: bold;
}
.top img, header img{
    right:250px;
    bottom:60px;
    position: absolute;
    z-index: 10;
}
.news{
    width: 25%;
    float: right;
    background-color:  #dddddd;
    border: 1px #999999 solid;
    padding: 10px;

}
.news p{
    color: #666666;
    font-size: 90%;
    margin: 10px 0;
    text-align: left;
}
.news h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
.main{
    width: 75%;
    margin-right: 0;
    padding-right: 10px;
    float: left;
    box-sizing: border-box;
}
.main .introduction{
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;

}
.main .introduction span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
.main figure{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.main .gallery{
    background-color: #999999;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 20px;
}
.main .foto{
    float: left;
    background-color: white;
    padding: 10px;
    border: 1px #999999 dotted;
    margin-right: 20px;
    margin-bottom: 20px;
}
.main .foto img{
    width: 180px;
    height: 180px;
    display: block;
}

.bottom {
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;

}
.bottom .block1{
    margin-left: 120px;
    float: left;
}
.bottom .block2{
    margin-left: 120px;
    float: right;
}
.bottom a{
    color: white;
    text-decoration: none;
}
.bottom a:hover{
    color: red;
}
footer, .copyright{
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;
    margin-top:10px;
}