body{
    font-family: arial, helvetica, sans-serif;
    width: 95%;
    text-align: center;
}

.top{
    height:200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: darkblue;

}
.bovenstetitel{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
}
.onderstetitel{
    font-size: 240%;
    font-weight: bold;
}
header img{
    right:250px;
    bottom:60px;
    position: absolute;
    z-index: 10;
}
.news{
    width: 25%;
    float: right;
    background-color:  #dddddd;
    border: 1px #999999 solid;

}
.news p{
    color: #666666;
    font-size: 90%;
    margin: 10px;
}
.news h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}
