/* items */
.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    gap: 15px;
}
.container > div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
    display: none;
}
.item-2 {
    background: #33a8a5;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.item-3 {
    background: #30997a;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.item-4 {
    background: #6a478f;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.item-5 {
    background: #da6f2b;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.item-6 {
    background: #3d8bb1;
    display: none;
}
.item-7 {
    background: #e03f3f;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.item-8 {
    background: #59a627;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.item-9 {
    background: #4464a1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}