/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: helvetica, sans-serif, "Segoe Print";
}
h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: black;
}
h2{
    font-size: 150%;
    margin-bottom: 1em;
}
.header{
    border-bottom: 1px solid #ebe8e8;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 769px){
    .header{
        width: 750px;
    }
}
@media screen and (min-width: 1000px){
    .header{
        width: 980px;
    }
}
.headerlogo{
    height: 50px;
}
.navlist{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
}
@media screen and (min-width: 700px){
    .navlist{
        width: 750px;
    }
}
@media screen and (min-width: 1000px){
    .navlist{
        width: 980px;
    }
}
.hero{
    border-bottom: 1px solid #ebe8e8;
    width: 100%;
    height:500px;
    background-image: url("imagens/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
@media screen and (min-width: 800px){
    .hero{
        font-size: 5em;
    }
}
.recipe-item{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 15px;
}