
.checklist li{
    background-image: url("images/unchecked.png");
    padding-left: 1.5em ;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em 1em;

}
.checklist li.checked {
    background-image: url("images/checked.png");
}