html {
    background-color: #333;
    font-family: helvetica, arial, sans-serif;
}

* {
    padding: 10px;
}

header, footer {
    background-color: #ddaa00;

}
header a, footer a {
    color: #ddaa00;
}
nav{
    background-color: #ccc;
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
}
main{
    background-color: grey;
    display: flex;
    flex-direction: column;
}
nav a{
    border: 1px #ccc;
    margin: 0 5px;
}
section a {
    border: 1px #333;
}
img{
    padding: 0;
}
body{
    font-size: 1em;
    margin: 5px;
}
section{
    margin: 5px;
}
h1{
    margin: 0;
}

@media screen and (min-width: 700px){
     nav{
         flex-direction: row;
         justify-content: flex-start;
     }
    main{
        flex-direction: row;
    }
}