body{
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding:0;
}
section{
    width: 95%;
    margin: 0 auto;
    background-color: white;
}
section > header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 30px;
}
section > header h1 {
    color: white;
    margin: 0;
    font-size: 3.5em;
}
nav {
background-color: #444;
    padding: 12px 40px;
}
nav a {
    color: mediumspringgreen;
    text-decoration: none;
    font-weight: bold;

}
section > div {
    padding: 30px;
}
article {
    margin-bottom: 5px;
    background-color: lightgrey;
}
article header h2 {
    font-size: 2.5em;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
article > footer a{
    color: blue;
    text-decoration: none;

}
article > footer {
    text-align: left;
}