body{
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}
section{
    width: 95%;
    margin: 0 auto;
    background-color: white;
}
section > header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 30px;
}
section > header h1 {
    color: white;
    text-align: left;
    vertical-align: top;
    font-size: 3.5em;
}
nav {
background-color: darkgray;
}
section > div {
    padding: 30px;
}
article {
    margin: 30px;
    background-color: lightgrey;
}
article h2 {
    font-size: 2.5em;
    text-align: left;
    vertical-align: top;
    border-bottom: black solid 5px;
}
article > footer a{
    color: blue;

}
article > footer {
    text-align: left;
}